<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Список продуктов</h1>


    <form method="get" action="{% url 'product_list' %}">
        <label for="category">Фильтр по категории:</label>
        <select id="category" name="category">
            <option value="">Все категории</option>
            {% for category in categories %}
                <option value="{{ category }}" {% if request.GET.category == category %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit">Фильтр</button>
    </form>


    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a> - {{ product.price }} - {{ product.category }}
            </li>
        {% empty %}
            <li>Продуктов не найдено</li>
        {% endfor %}
    </ul>

    <a href="{% url 'home' %}">Вернуться</a>
</body>
</html>


